body, html {
	height: 100%;
	overflow: hidden;
}

#scroll_wrapper {
	height:100%;
	overflow:hidden;
}

#rectangle_wrapper {
	width: 990px;
	height: 500px;
	background: #745131;
}

#rectangle {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

canvas {
	padding: 4px;
}